html,body{
  background: #160040;
}

::-webkit-scrollbar {
  width: 6px;
  height: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #685d5d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

