@tailwind base;
@tailwind components;
@tailwind utilities;





*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

#particles{
  width: 100%;
  height: 100vh;
}
/* .bg-img{
  background-image: url('/img/bg.jpeg');
  background-repeat: no-repeat;
  object-fit: cover;
} */